---
layout: default
---

<video id="video" class="homepage-video--desktop" autoplay="autoplay" loop="loop" poster="https://www.mrbandfriends.co.uk/app/uploads/2015/11/home_video_poster.jpg" width="100%" height="auto">
    <source src="https://www.mrbandfriends.co.uk/app/uploads/2015/11/WhereNext_SkyLoop.webm" type="video/webm">
    <source src="https://player.vimeo.com/external/189757096.hd.mp4?s=4694f14b55665060d5b36db5f4109913b75ae950&amp;profile_id=174" type="video/mp4">
    <source src="https://www.mrbandfriends.co.uk/app/uploads/2015/11/WhereNext_SkyLoop.ogv" type="video/ogg">
</video>

<!--<div class="page__hero" style=" ">-->
    <!--<img src="https://berkdulger.github.io/images/bokeh-cup-tea-splash.jpg" alt="Header" class="page__hero-image">-->
<!--</div>-->

{% if (page.header.overlay_color or page.header.overlay_image) or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>